<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Trivia App</title>
    <link rel="stylesheet" href="/vCss/style.css" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>    
  </head>
 
  <body class="text-center">
   
    <form class="form-signin" action="/addName" method="POST" >
      <h1 >Trivia App</h1>
      <h1 class="h3 mb-3 font-weight-normal">Please Enter your name?</h1>
      <label for="name" class="sr-only">Your Name</label>
      <input type="text" name="name"id="name" class="form-control" placeholder="Your Name" required="" autofocus="">
    
      <button class="btn btn-lg btn-primary btn-block mt-4" type="submit">Next</button>
    </form>
    
  </body>
  
</html>


