<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Trivia App</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>    
  </head>
  <body class="text-center">
     
    <form style="list-style: none;" class="form-signin p-4" action="/addQuestion1" method="POST" >
      <h3 class="h3 mb-3 font-weight-normal"> Who is the Captain of Indian Cricket Team </h1>
      <div class="radio">
        <label><input type="radio" name="ans1" value="Sachin Tendulkar" > Sachin Tendulkar</label>
      </div>
      <div class="radio">
        <label><input type="radio" name="ans1" value="Virat Kohli"> Virat Kohli</label>
      </div>
      <div class="radio">
        <label><input type="radio" name="ans1" value= "Adam Gilchirst" > Adam Gilchirst</label>
      </div>
      <div class="radio">
        <label><input type="radio" name="ans1" value="jacques Kallis"> Jacques Kallis</label>
      </div>
    
      <button class="btn btn-primary  mt-4 pb-2 px-5" type="submit">Next</button>
    
    </form>
    
    
  </body>
</html>

